.menu {
  background-color: rgba(230, 227, 227, 0.795);
  height: 56px;
}

.menu-item {
  color: rgb(116, 119, 116);
  font-size: 16px;
  margin: 60px;
  width: 3%;
  transition: background-color 0.3s;
  cursor: pointer;
  text-decoration: none;
}
